{% extends "auctions/layout.html" %}

{% block body %}

<h2>Category: {{category_title}}</h2>


<div class="col-12">
    {% for auction in auctions %}
      <a href="{% url 'listing' auction.id %}">
        <div class="card mb-3">
          <img class="card-img-top" src="{% if auction.URL_image %} {{ auction.URL_image }} 
          {% else %} ../../static/default.png {% endif %}"  alt="Card image cap" />
          
          <div class="card-body">
            <h5 class="card-title">{{ auction.commodity_title }}</h5>
            <p class="card-text">
              {{ auction.description }}
            </p>
            <p class="card-text">
              Price: {{ auction.starting_price }}$
            </p>
            <p class="card-text">
              <small class="text-muted">{{ auction.created_time }}</small>
            </p>
          </div>
        </div>
      </a>
    {% endfor %}
</div>


{% endblock %}